version: '3.8'

services:
  users:
    image: ecommerce-users
    container_name: users
    # Build the image from the Dockerfile in the users directory
    build: 
      context: .
      # Explicitly point to the Dockerfile within that context
      dockerfile: users/Dockerfile
    ports:
      # Map the gRPC port for internal/external access
      - "${USER_GRPC_PORT}:50051"
      # Map the REST API port to avoid conflict with the products service
      - "${USER_SERVICE_PORT}:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${USER_DB_DATABASE}

      # - GRPC_HOST=${GRPC_HOST}
      # - GRPC_PORT=${USER_GRPC_PORT}
      
      - ORDERS_SERVICE_HOST=orders
      - ORDERS_SERVICE_PORT=${ORDER_GRPC_PORT}
      - PRODUCTS_SERVICE_HOST=products
      - PRODUCTS_SERVICE_PORT=${PRODUCT_GRPC_PORT}
    networks:
      - ecommerce-network

  products:
    image: ecommerce-products
    container_name: products
    build: 
      context: .
      # Explicitly point to the Dockerfile within that context
      dockerfile: products/Dockerfile
    ports:
      - "${PRODUCT_GRPC_PORT}:50051"
      - "${PRODUCT_SERVICE_PORT}:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${PRODUCT_DB_DATABASE}
      
      # - GRPC_HOST=${GRPC_HOST}
      # - GRPC_PORT=${PRODUCT_GRPC_PORT}
      
      - USERS_SERVICE_HOST=users
      - USERS_SERVICE_PORT=${USER_GRPC_PORT}
      - ORDERS_SERVICE_HOST=orders
      - ORDERS_SERVICE_PORT=${ORDER_GRPC_PORT}
    networks:
      - ecommerce-network

  orders:
    image: ecommerce-orders
    container_name: orders
    build:
      context: .
      dockerfile: orders/Dockerfile
    ports:
      - "${ORDER_GRPC_PORT}:50051"
      - "${ORDER_SERVICE_PORT}:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${ORDER_DB_DATABASE}
      
      # - GRPC_HOST=${GRPC_HOST}
      # - GRPC_PORT=${ORDER_GRPC_PORT}
      
      - USERS_SERVICE_HOST=users
      - USERS_SERVICE_PORT=${USER_GRPC_PORT}
      - PRODUCTS_SERVICE_HOST=products
      - PRODUCTS_SERVICE_PORT=${PRODUCT_GRPC_PORT}
    networks:
      - ecommerce-network  

# Define the network to allow communication between services
networks:
  ecommerce-network:
    driver: bridge
